<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <!--<ems_pay_general>-->
                <!--<model>EMS\Pay\Model\Method\EmsAbstractMethod</model>-->
                <!--<title>EMS Global Configuration</title>-->
                <!--<operation_mode>test</operation_mode>-->
                <!--<log_enabled>1</log_enabled>-->
                <!--<checkout_option>classic</checkout_option>-->
               <!---->
            <!--</ems_pay_general>-->
            <ems_pay_cc>
                <model>EMS\Pay\Model\Method\Cc</model>
                <active>0</active>
                <title>EMS Pay Credit card</title>
                <order_status>processing</order_status>
                <cctypes>ems_pay_visa,ems_pay_mastercard,ems_pay_diners</cctypes>
                <enable_3dsecure>1</enable_3dsecure>
                <payment_action>authorize</payment_action>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>0</can_use_internal>
                <is_gateway>1</is_gateway>
                <sort_order>4</sort_order>
                <shared_secret_test backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <shared_secret_production backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
            </ems_pay_cc>
            <ems_pay_klarna>
                <model>EMS\Pay\Model\Method\Klarna</model>
                <active>0</active>
                <title>Klarna Invoice</title>
                <order_status>processing</order_status>
                <payment_action>authorize</payment_action>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>0</can_use_internal>
                <is_gateway>1</is_gateway>
                <sort_order>5</sort_order>
            </ems_pay_klarna>
            <ems_pay_paypal>
                <model>EMS\Pay\Model\Method\Paypal</model>
                <active>0</active>
                <title>Paypal</title>
                <order_status>processing</order_status>
                <payment_action>authorize</payment_action>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>0</can_use_internal>
                <is_gateway>1</is_gateway>
                <sort_order>6</sort_order>
            </ems_pay_paypal>
            <ems_pay_sofort>
                <model>EMS\Pay\Model\Method\Sofort</model>
                <active>0</active>
                <title>Sofort</title>
                <order_status>processing</order_status>
                <payment_action>authorize</payment_action>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>0</can_use_internal>
                <is_gateway>1</is_gateway>
                <sort_order>7</sort_order>
            </ems_pay_sofort>
            <ems_pay_masterpass>
                <model>EMS\Pay\Model\Method\Masterpass</model>
                <active>0</active>
                <title>Masterpass</title>
                <order_status>processing</order_status>
                <payment_action>authorize</payment_action>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>0</can_use_internal>
                <is_gateway>1</is_gateway>
                <sort_order>8</sort_order>
            </ems_pay_masterpass>
            <ems_pay_maestro>
                <model>EMS\Pay\Model\Method\Maestro</model>
                <active>0</active>
                <title>Maestro</title>
                <order_status>processing</order_status>
                <payment_action>authorize</payment_action>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>0</can_use_internal>
                <is_gateway>1</is_gateway>
                <sort_order>9</sort_order>
            </ems_pay_maestro>
            <ems_pay_ideal>
                <model>EMS\Pay\Model\Method\Ideal</model>
                <active>0</active>
                <title>iDEAL</title>
                <order_status>processing</order_status>
                <payment_action>authorize</payment_action>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>0</can_use_internal>
                <is_gateway>1</is_gateway>
                <sort_order>10</sort_order>
            </ems_pay_ideal>
            <ems_pay_bancontact>
                <model>EMS\Pay\Model\Method\Bancontact</model>
                <active>0</active>
                <title>Bancontact</title>
                <order_status>processing</order_status>
                <payment_action>authorize</payment_action>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>0</can_use_internal>
                <is_gateway>1</is_gateway>
                <sort_order>11</sort_order>
            </ems_pay_bancontact>
        </payment>
    </default>
</config>
